# Ignora node_modules
node_modules/

# Ignora archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora carpetas de producción o temporales
.env
.DS_Store
*.local
coverage/

# Ignora base de datos local
*.sqlite
*.db
*.sql
*.pem
# Node.js
node_modules/
test/
*.log
*.env
.git



# SSL keys (no subir a producción)
*.pem

# Sistema operativo
.DS_Store
Thumbs.db

baileys_auth/
uploads/
!uploads/templates/
!uploads/templates/**